<header class="" role="banner">
  <div class="container">
      <a id="Logo" href="{{relative page.dest "_gh_pages/index.html"}}" class="navbar-brand">
        {{default site.title 'ASSEMBLE'}}
      </a>
      <a href="{{relative page.dest "_gh_pages/index.html"}}" class="CTA">
        Do Something, quick!
      </a>
    <nav class="" role="">
      <ul class="">
        <li> <a href="{{relative page.dest "_gh_pages/markdown.html"}}">Markdown</a> </li>
        <li> <a href="{{relative page.dest "_gh_pages/readme.html"}}">Readme</a> </li>
        <li> <a href="{{relative page.dest "_gh_pages/about.html"}}">About</a> </li>
      </ul>
    </nav>
  </div>
</header>
